* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body {
    Width:100%;
    Min-height:100vh;
    background-color: rgb(212, 212, 211);
    }

.header {
    text-align: center;
    border-bottom: solid black;
    width:50%;
    margin: auto;
    
}

.wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    
    
}

.form {
    max-width: 40%;
    
}

.input {
    display: block;
    resize: vertical;
    outline: none;
    max-width: 100%;
    padding-left: 1em;
    padding-top: 1em;
    
}

.preview-wrapper {
    max-width: 40%;
    border:solid black;
    overflow-wrap: break-word;


}

#preview {
    max-width: 100%;
    border: solid blue;
    word-wrap:break-word;
    padding: 0 1em;
}

blockquote {
    border-left: 3px solid #224b4b;
    color: #224b4b;
    padding-left: 5px;
    margin-left: 25px;
  }

  
  code {
    background: white;
    font-size: 0.875rem;
    font-weight: bold;
  }

  pre {
    display: block;
    overflow: auto;
    background: white;
    padding: 5px;
    line-height: 1.2;
  }

  h1 {
    border-bottom: 2px solid black;
  }

  h2 {
    border-bottom: 1px solid black;
  }

  table {
    border-collapse: collapse;
  }

  td,
  th {
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
  }

  img {
    display: block;
    max-width: 90%;
    margin: 2rem auto;
  }
    
