* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body {
    Width:100%;
    Min-height:100vh;
    background-color: rgb(212, 212, 211);
    }

.header {
    text-align: center;
    border-bottom: solid black;
    width:50%;
    margin: auto;
    
}

.wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
    
    
}

.form {
    max-width: 40%;
    
}

.input {
    display: block;
    resize: vertical;
    outline: none;
    max-width: 100%;
    padding-left: 1em;
    padding-top: 1em;
    
}

.preview-wrapper {
    max-width: 40%;
    border:solid black;
    overflow-wrap: break-word;


}

.preview {
    max-width: 100%;
    border: solid blue;
    word-wrap:break-word;
}
    
